<%= render partial: "shared/user", locals: { user: @user } %>
  <p>Bio</p>
  <p><%= @user.bio %>
</div>
<div>
  <% @user.posts.each do |post| %>
    <div>
      <p><%= post.title %></p>
      <p><%= post.text %></p>
      <div>
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
      </div>
    </div>
  <% end %>
</div>
