<h1>Here is a list of posts for a given user</h1>
<div>
  <img src=<%= @user.photo %> alt="photo of user">
  <div>
    <p><%= @user.name %></p>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</div>
<div>
  <% @user.posts.each do |post| %>
    <div>
      <p><%= post.title %></p>
      <p><%= post.text %></p>
      <div>
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
      </div>
    </div>
    <% post.recent_comments.each do |comment| %>
    <% user = User.find(comment.author_id) %>
      <div>
        <p>Username: <%= user.name %></p>
        <p><%= comment.text %></p>
      </div>
    <% end %> 
  <% end %>
</div>